<!DOCTYPE html>
<html>
<head>
  <title>Fitness</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <a href="<%= root_path %>">Home</a>
    <a href="<%= dash_path %>">Dash</a>
    <a href="<%= cal_path %>">Cal</a>
    <a href="<%= growth_path %>">Growth</a>

    <%= yield %>

</body>
</html>
